.padding {
  &-10 {
    padding: 10px;
  }

  &-15 {
    padding: 15px;
  }

  &-20 {
    padding: 20px;
  }
}

.mb {
  &-10 {
    margin-bottom: 10px;
  }

  &-15 {
    margin-bottom: 15px;
  }

  &-20 {
    margin-bottom: 20px;
  }
}
